<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver License</title>
</head>
<body>

<p>
    <img style="width: 300px; height: 330px" th:src="@{${license.imgUrl}}">
</p>

<p>
    First name:
    <th:block th:text="${license.firstName}"/>
</p>

<p>
    Last name:
    <th:block th:text="${license.lastName}"/>
</p>

<p>
    Uid:
    <th:block th:text="${license.Uid}"/>
</p>

<p>
    DOB:
    <th:block th:text="${license.dateOfBirth}"/>
</p>

<p>
    SEX:
    <th:block th:text="${license.gender}"/>
</p>

<p>
    CLASS:
    <th:block th:text="${license.driverCategory} "/>
</p>

</body>
</html>
